<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <title th:text="${category} ? ${category.name} : #{org_categoryForm.label.header.title}"> </title>
</head>

<body>
<div layout:fragment="content">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="basicform">
            <h3 class="section-title" th:text="${add} ? #{categoryForm.label.create} : #{org_categoryForm.label.update}"> </h3>
            <p th:text="${add} ? #{org_categoryForm.label.create_desc} : #{org_categoryForm.label.update_desc}"></p>
            <p style="color:red;" th:text="${has_exception} ? ${exception_text} : ''"></p>
        </div>
        <div class="card">
            <h3 class="card-header font-bold text-dark" th:text="${add} ? #{org_categoryForm.label.new_category} : ${category.name}"></h3>
            <div class="card-body">
                <form action="#" enctype="multipart/form-data" th:action="${add} ? @{create} : @{/category/update/{id}(id = ${category.id})}"  th:object="${category}" method="POST">
                    <label class="text-dark font-bold col-form-label" data-th-text="#{org_category.label.image.logo}"></label>
                    <div class="form-group">
                        <div class="box">
                            <div class="js--image-preview"></div>
                            <div class="upload-options">
                                <label>
                                    <input type="file" name="image" class="image-upload" accept="image/*" />
                                </label>
                            </div>
                        </div>
                        <script th:inline="javascript">
                            var image = /*[[${category.image}]]*/ null;
                            if(image != null){
                                var thumb = document.querySelector('.js--image-preview');
                                thumb.style.backgroundImage = 'url(' + image + ')';
                                thumb.className += ' js--no-default';
                            }
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-dark font-bold" data-th-text="#{org_categoryForm.label.name}"></label>
                        <input id="name" type="text" class="form-control" th:value="${category} ? ${category.name} : ' '" th:field="*{name}" minlength="5" maxlength="255" required>

                        <p th:if="${#fields.hasErrors('name')}" style="color:red;" th:errors="*{name}">Incorrect LP</p>

                        <label for="description" class="text-dark font-bold" data-th-text="#{org_categoryForm.label.desc}"></label>
                        <textarea id="description" class="form-control" th:text=" ${category} ? ${category.description} : '' " th:field="*{description}" minlength="5" maxlength="250" required></textarea>
                        <p th:if="${#fields.hasErrors('description')}" style="color: red;"
                           th:errors="*{description}">Incorrect LP</p>
                    </div>
                    <button th:text="${add} ? #{button.label.create}: #{button.label.update} "
                            th:class="${add} ? 'btn btn-success': 'btn btn-info' "
                            type="submit" class="btn btn-success" data-toggle="tooltip"
                            data-placement="top" title="Tooltip on top">Create
                    </button>
                    <a type="button" th:style="${add} ? 'visibility:hidden' : ''"  class="btn btn-danger" data-toggle="modal"
                       th:attr="data-target='#recordDeleteModal'+${category.id}" data-th-text="#{button.label.delete}"></a>
                </form>

                <!-- Modal -->
                <div class="modal fade" th:attr="id='recordDeleteModal'+${category.id}" tabindex="-1" role="dialog" aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="recordDeleteModalLabel" data-th-text="#{button.label.delete_message}"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label data-th-text="#{org_category.label.confirm_to_delete}"></label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-th-text="#{label.no}"></button>
                                <form th:action="${add} ? @{/org_category/list} : @{/org_category/delete/{id}(id = ${category.id})}" th:object="${category}" th:method="${add} ? 'GET' : 'POST'">
                                    <button type="submit" class="btn btn-primary" data-th-text="#{label.yes}"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal end -->
            </div>

        </div>

    </div>
</div>
</body>
</html>
