<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title data-th-text="#{material.label.header.title}"></title>
</head>

<body>
<div layout:fragment="content">
    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <!--  Table header and 'Create' Button  -->
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="w-75 p-3">Product</h3>
                    </div>
                    <div class="col-md-2 float-right">
                        <a class="btn btn-success m-t-10" th:href="@{form}" >Create</a>
                    </div>
                </div>
                <form class="row" th:action="@{/product/list}" method="get">
                    <div id="custom-search" class="top-search-bar col">
                        <input width="125px" class="form-control" type="text" name="search" th:placeholder="#{search}" th:value="${searchResult} ? ${searchResult} : ''">
                    </div>
                    <div class="col float-right">
                        <button type="submit" class="btn btn-info m-t-10" >Search</button>
                    </div>
                </form>
            </div>

            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                        <tr class="border-0">
                            <th class="border-0" >Image</th>
                            <th class="border-0" >Name</th>
                            <th class="border-0" >Category</th>
                        </tr>
                        </thead>
                        <tbody style="">
                        <tr th:each="material : ${materials}"  class='clickable-row' href="/">
                            <td>
                                <div class="m-r-10"><img th:src="${material.image}" alt="org" class="rounded" width="45"></div>
                            </td>
                            <td th:text="${material.name}">  Name </td>
                            <td th:text="${material.category.name}"> Category</td>
                            <td><a th:href="${material.id}"><i class="fa fa-arrow-right"></i></a></td>
                        </tr>
                        <!--    end of looping     -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li th:if="${materials.hasPrevious()}" class="page-item" >
                    <a class="page-link" th:href="'/product/list?search='+${searchResult}+'&page='+${materials.number-1}" tabindex="-1" ><i class="fa fa-chevron-left"></i></a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(0, materials.totalPages - 1)}">
                    <li class="page-item active" th:if="${materials.number == i}" >
                            <span class="page-link">[[${i}+1]]
                    </li>
                    <li th:unless="${materials.number == i}">
                        <a class="page-link" th:href="'/product/list?search='+${searchResult}+'&page='+${i}" tabindex="-1">[[${i}+1]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${materials.hasNext()}">
                    <a class="page-link" th:href="@{'/product/list?search='+${searchResult}+'&page='+${materials.number+1}}" tabindex="-1" ><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>

</html>